{% extends 'sitemaster.html' %}
{% block tag %}<li class="nav-item"><a class="nav-link" href="#">Driver</a></li>{% endblock %}
{% block registerbtn %}{% endblock %}
{% block content %}

  <div class="form-wrapper">
    <!-- Centered card -->
    <div class="form-card">
      <h2>Car Details</h2>
      <form action="" method="post">
        {% csrf_token %}
        <label for="carModel" class="form-label">Car Model</label>
        <input type="text" class="form-control" name="carModel" placeholder="Enter your car model" required>

        <label for="carNumberPlate" class="form-label">Car's Number Plate</label>
        <input type="text" class="form-control" name="carNumberPlate" placeholder="Enter your car number" required>

        <label for="carCapacity" class="form-label">Car Capacity</label>
        <input type="number" class="form-control" name="carCapacity" placeholder="Enter car's capacity" required>

        <label for="pick_up_time" class="form-label">Pick Up Time</label>
        <input type="time" class="form-control" name="pick_up_time" required>

        <label for="drop_time" class="form-label">Drop Time</label>
        <input type="time" class="form-control" name="drop_time" required>

        <label for="tripcost" class="form-label">Money You Charge</label>
        <input type="number" class="form-control" name="tripcost" placeholder="Enter how much you will charge" required>

        <button type="submit">
          <!-- <a href="/driver/home" style="text-decoration: none; color: black; width: 100%; height: 100%;">Submit</a> -->
           Submit
        </button>
      </form>
      <!-- <button type="submit"><a href="/driver/home">alresdy filled car info</a></button> -->
      
    </div>
  </div>
  {% endblock %}