{% extends 'sitemaster.html' %}
{% if user.is_authenticated %}
{% block tag %}<li class="nav-item"><a class="nav-link" href="#">Employee</a></li>{% endblock %}
{% block content %}

  <div class="form-wrapper">
    <!-- Centered card -->
    <div class="form-card">
      <h2>Shift Details</h2>
      <form action="" method="post">
        <label for="department" class="form-label">Department</label>
        <input type="text" class="form-control" name="department" placeholder="Enter your department" required>

        <label for="shift_start" class="form-label">Working shift start time</label>
        <input type="time" class="form-control" name="shift_start" required>

        <label for="shift_end" class="form-label">Working shift end time</label>
        <input type="time" class="form-control" name="shift_end" required>

        <label for="pickup_location" class="form-label">Pick up Location</label>
        <input type="text" class="form-control" name="pickup_location" placeholder="Enter your pickup location" required>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}

{% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to view this content.</p>
{% endif %}